.form-container {
  background-color: lightblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffff24;
}

.register-form {
  background-color: #E7F4EC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 190px;
  width: 300px;
  color: #2b5870;
  box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.75);
}

.button-register {
  background-color: #299F56;
  font-size: 16px;
  margin: 5px;
}

.form-field {
  margin: 5px
}

.succes-message {
  color: black;
  font-size: 17px;
  /* box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.75); */
  padding: 10px;
  margin: 2px;
}